$nav-height: 70px;
$black: #333333;

html,
body,
#root {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: georgia, "times new roman", times, serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    margin: 0; //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
}

.header {
    background: white;
    border-bottom: 4px solid $black;
    margin-top: 0;
    width: 100%; //height: $nav-height;
    position: absolute;
    top: 0;
    z-index: 5;
    h1 {
        margin: 0;
        padding: 15px;
    }
}

.map {
    width: 55%;
    height: 100vh;
    float: left;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; //flex-grow: 1;
    z-index: -20;
}

.article-list {
    box-sizing: border-box;
    width: 45%;
    max-height: 100vh;
    overflow: scroll;
    overflow-x: visible;
    float: right;
    display: inline-block;
    background: white;
    padding-top: 6rem;


    h1 {
        font-size: 20px;
        font-style: italic;
    }

    .article{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        position: relative;
        overflow: hidden;
        max-height: 85vh;
        margin-bottom: 5rem;

        h1{
            font-size: 26px;
            line-height: 28px;
        }

//        time{
//            position: absolute;
//            left: -40px;
//            top: -30px;
//            background: white;
//            padding: 10px;
//            z-index: 50;
//            overflow: visible;
//        }

        h3{
            font-size: 11px;
            font-weight: bold;
        }

        p{
            line-height: 26px;
            font-size: 17px;
        }
    }
}
