$nav-height: 70px;
$black: #2e2e2e;

html,
body,
#root {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: georgia, "times new roman", times, serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    margin: 0; //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
}

.header {
    background: $black;
    border-bottom: 1px solid $black; //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);
    margin-top: 0;
    width: 100%; //height: $nav-height;
    position: absolute;
    top: 0;
    z-index: 5;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    //justify-content: center;

    h1 {
        //position: fixed;
        //top: 0;
        //left: 0;
        color: white;
        margin: 0;
        margin-left: 1.5rem; //padding: 25px;
        margin-right: 1.5rem;
        font-size: 20px; //font-weight: 100;
    }
}

div.tick {
    position: fixed;
    left: calc(50%);
    top: 0;
    width: 2px;
    height: 20px;
    background: red;
}

div.date-select {
    color: white;
    font-family: roboto, sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    width:1000px;
    div{
        margin: .25rem;
    }
    input[type='radio']{
        visibility: hidden;
    }
    div.year{
        position: fixed;
        top: 27px;
        right: 20px;
        float: right;
        input{
            font-size: 19px;
            background: none;
            color: white;
            border: none;
            border-bottom: 2px solid white;
            padding-left: 17px;
            margin-right: .5rem;
        }
        button{
            background: none;
            color: white;
            border: solid white 2px;
            border-radius: 3px;
            margin: .25rem;

            &:hover{
                background: white;
                color: black;
            }
        }
    }
    input:checked + label {
    background: rgba(255, 255, 255, 0.1);
        color: white;
        font-weight: bold;
    }
}



ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    li {
        font-size: 10px;
        width: 30px;
        font-family: roboto, sans-serif;
    }
}





.map {
    width: 55%;
    height: 100vh;
    float: left;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; //flex-grow: 1;
    z-index: -20;
}

.article-list {
    box-sizing: border-box;
    width: 45%;
    height: 100vh;
    max-height: 100vh;

    overflow-y: scroll;
    overflow-x: visible;
    float: right;
    display: inline-block;
    background: white;
    padding-top: 4.5rem; //z-index: 500;
    //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);
    border-left: 1px solid rgb(234, 234, 234);


    h1 {
        font-size: 20px;
        font-style: italic;
    }

    .article {
        width: 80%;
        margin-left: auto;
        margin-right: auto; //border-top: 1px solid $black;
        //border-bottom: 1px solid $black;
        position: relative;
        overflow: hidden;
        min-height: calc(100vh - 4.5rem);
        margin-bottom: 5rem;

        h1 {
            font-size: 26px;
            line-height: 28px;
            margin-top: 2rem;

        }

        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }

            &.read-more {
                //box-sizing: content-box;
                margin-top: 2rem;
                border: 1px solid $black;
                padding: .5rem;
                border-radius: 3px; //width: 30%;
                position: absolute;
                bottom: 2.25rem;
                left: 0;
            }
        }

        .by-line {
            padding-bottom: .3rem;
            border-bottom: 1px solid #d6d6d6;
            padding-top: .1rem;
            border-top: 1px solid #d6d6d6;
            margin-bottom: 1.5rem;
        }
        h3 {
            font-size: 9px;
            text-transform: uppercase;
            font-weight: 400;
            display: inline-block;

            &:first-of-type {

                font-size: 11px;
                margin-bottom: 0rem;
                margin-right: 1.25rem;
                font-weight: bold;
                text-transform: none;
            }

        }


        div.tags {
            position: absolute;
            bottom: 1.5rem;
            right: 0;
        }
        h4 {
            display: inline;
            font-style: italic;
            font-weight: 400;
            font-size: 10px;
            margin-right: 1rem;
            float: right;

        }

        p {
            line-height: 26px;
            font-size: 17px;
        }
    }
}
