$nav-height: 70px;
$black: #333333;

html,
body,
#root {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: georgia, "times new roman", times, serif;
}

.wrapper {
    height: 100vh;
    width: 100%;
    margin: 0; //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
}

.header {
    background: $black;
    border-bottom: 1px solid $black;
    //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);
    margin-top: 0;
    width: 100%; //height: $nav-height;
    position: absolute;
    top: 0;
    z-index: 5;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
        color: white;
        margin: 0;
        margin-left: 2rem;
        //padding: 25px;
        font-size: 20px;
        //font-weight: 100;
    }
}

.map {
    width: 55%;
    height: 100vh;
    float: left;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; //flex-grow: 1;
    z-index: -20;
}

.article-list {
    box-sizing: border-box;
    width: 45%;
    height: 100vh;
    max-height: 100vh;

    overflow-y: scroll;
    overflow-x: visible;
    float: right;
    display: inline-block;
    background: white;
    padding-top: 4.5rem;
    //z-index: 500;
    //box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);


    h1 {
        font-size: 20px;
        font-style: italic;
    }

    .article{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        //border-top: 1px solid $black;
        //border-bottom: 1px solid $black;
        position: relative;
        overflow: hidden;
        min-height: calc(100vh - 4.5rem);
        margin-bottom: 5rem;

        h1{
            font-size: 26px;
            line-height: 28px;
        }

//        time{
//            position: absolute;
//            left: -40px;
//            top: -30px;
//            background: white;
//            padding: 10px;
//            z-index: 50;
//            overflow: visible;
//        }

        h3{
            font-size: 11px;
            font-weight: bold;

            padding-bottom: 1rem;
            border-bottom: 1px solid #d6d6d6;
            padding-top: 1rem;
            border-top: 1px solid #d6d6d6;
        }

        p{
            line-height: 26px;
            font-size: 17px;
        }
    }
}
